
- if flash[:error]
  .error
    = flash[:error]

%table.files
  %tr
    %th File Name
    %th Size
    %th

  - @attachments.each do |attachment|
    %tr
      %td
        = link_to attachment.name, {:controller => :attachments, :action => :show, :id => 1, :file_name => attachment.name}
      %td
        = attachment.size
      %td
        = link_to 'Delete', {:controller => :attachments, :action => :destroy, :id => 1, :file_name => attachment.name}, :method => :delete, :confirm => "Are you sure?"

%br
%br

- form_tag '/attachments', :multipart => true do
  = label_tag 'attachment', 'File to Upload'
  %br
  = file_field_tag "attachment"
  = submit_tag 'Add'